.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px;
  margin-top: 30px;
  .social__btn--github {
    background-color: transparent;
    color: azure;
  }
  .social__btn--kakaotalk {
    background-color: #f2d100;
    color: black;
  }
}
